pragma solidity ^0.4.19;

import "github.com/oraclize/ethereum-api/oraclizeAPI.sol";

contract Betting is usingOraclize {
    struct Bet {
        uint256 value;
        int8 team; //1=home -1=away
    }

    mapping (address=>Bet) bets;
    // total ethers for the winning side (= valueHome+valueAway-paid for oraclize)
    uint256 valueTotal;
    // total ethers on each side
    uint256 public valueHome;
    uint256 public valueAway;
    // count of bettors that haven't collected their rewards
    uint24 countHome; 
    uint24 countAway;
    
    // If goalLine is positive, betting on home team wins if and only if the home  team beats the away team by at least goalLine;
    // If goalLine is negative, betting on away team wins if and only if the away team beats the home team by at least the absolute value of goalLine.
    int8 constant goalLine = {{goalLine}};
    bytes rawResult;
    int8 public winner; // 0=unresolved, 1=home -1=away 

    uint constant matchStartTimestamp = {{matchStartTimestamp}}; // {{matchStartTimeString}}
    uint constant clearTimestamp = matchStartTimestamp + {{delayHoursBeforeClear}} hours; // allow the clearing process to begin after this timestamp

    modifier before (uint timestamp) {
        require(now < timestamp);
        _;
    }   

    event runtimeLog(string msg);
    event debugScore(uint scoreH, uint ScoreA);

    function bet (int8 team) payable 
        before(matchStartTimestamp) 
    {
        require((team==1 || team==-1) && msg.value>0);

        Bet storage b = bets[msg.sender];
        if (b.team==0) { // first betting from sender
            b.value = msg.value;
            b.team = team;
            if (team==1) {
                countHome++;
                valueHome += msg.value;
            } else {
                countAway++;
                valueAway += msg.value;
            }
        } else { // allow adding bet
            require(b.team==team);
            b.value += msg.value;
            if (team==1) {
                valueHome += msg.value;
            } else {
                valueAway += msg.value;
            }
        }      
    }

    function unbet ()
    {
        require((now < matchStartTimestamp) ||
            (countHome==0 || countAway==0)); //if there is not bet on one side, away bettors on the other side to withdraw
        Bet memory b = bets[msg.sender];
        require(b.team != 0);
        delete bets[msg.sender];
        if (b.team == 1) {
            countHome -= 1;
            valueHome -= b.value;
         } else {
             countAway -= 1;
             valueAway -= b.value;
         }
         msg.sender.transfer(b.value);
    }

    uint lastGetMatchResultCallTimestamp;
    function getMatchResult () 
    {
        require((now > clearTimestamp) &&
            (countHome > 0) && (countAway > 0) && //if there is no bet on one side, don't consume any value so bettors can call unbet() to withdraw
             (winner==0) && 
             (now - lastGetMatchResultCallTimestamp > 1 hours)); // to prevent abuse

        lastGetMatchResultCallTimestamp = now;

        require(winner==0);

        if (oraclize_getPrice("URL") > this.balance) {
            runtimeLog("Too poor to get result.");
            return;
        }
        runtimeLog("Fetching match result.");
        oraclize_query("URL", "html(http://www.fifa.com/worldcup/matches/round={{fifaRoundId}}/match={{fifaMatchId}}/report.html).xpath(//*[@class=\"s-scoreText\"]/text())");
    }

    function __callback (bytes32 myid, string result) {
{{^dev}}
        if (msg.sender != oraclize_cbAddress()) return;
{{/dev}}        
        rawResult = bytes(result);

        this.call.gas(msg.gas-1000/*rule of thumb*/)(bytes4(keccak256("resolve()")));
    }

    // parse rawResult, determine the winner according to the goal line and set winner
    function resolve () {
        // parse match result 
        uint8 scoreH;
        uint8 scoreA;
        
        uint p = 0;
        while (rawResult[p]==0x20/*space*/) p++;
        while (rawResult[p]>=0x30 && rawResult[p]<=0x39) {
            scoreH = scoreH*10+uint8(rawResult[p])-0x30;
            p++;
        }
        while (rawResult[p]==0x20/*space*/) p++;
        assert(rawResult[p]==0x2d/* - */);
        p++;
        while (rawResult[p]==0x20/*space*/) p++;
        assert(rawResult[p]>=0x30 && rawResult[p]<=0x39);
        while (p<rawResult.length && rawResult[p]>=0x30 && rawResult[p]<=0x39) {
            scoreA = scoreA*10+uint8(rawResult[p])-0x30;
            p++;
        }
        debugScore(scoreH, scoreA);

        // determine winner
        if (goalLine>0) {
            if (int8(scoreH)-int8(scoreA) >= goalLine) {
                winner = 1;
            } else {
                winner = -1;
            }
        } else {
            if (int8(scoreA)-int8(scoreH) >= -goalLine) {
                winner = -1;
             } else {
                winner = 1;
             }
        }
    }

    function collect () {
        Bet memory b = bets[msg.sender];
        require(b.team == winner);
        delete bets[msg.sender];

        if (valueTotal==0) {
            valueTotal = this.balance;
        }

        uint256 count;
        uint256 value;
        if (b.team == 1) {
           countHome--;
           count = countHome;
           value = valueHome;
        } else {
           countAway--;
           count = countAway;
           value = valueAway;
        }
        msg.sender.transfer(count==0 ?
            this.balance:
            valueTotal * b.value / value );
                
    }
}
